@page
@{
}

<h1>Contact Information</h1>

<div class="containter">
    <div class="row">
        Mount Rose Consulting
    </div>
    <div class="row">
        Phone: (609) 888-6850
    </div>
    <div class="row">
        Email: Info@mtroseconsulting.com
    </div>

</div>