
@{
}
@using MtRoseConsultingWebsite.Models
@model List<BlogPost>

<h1>Blogs:</h1>

@if (Model != null && Model.Count > 0)
{

    @foreach (var b in Model)
    {
        <h4>@b.Title</h4>
        <p>Created: @b.Created</p>
        <p>@b.Content</p>
    }
}