html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    scroll-padding-top: 70px; /* height of sticky header */
}

body {
  margin-bottom: 60px;
}

header {
    position: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}


h1 {
    margin-top: 0;
    padding-top: 5rem;
}

#bgslider {
    overflow: hidden;
    width:200px;
    height:200px;
}
#bgslider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 30s slidy infinite;

}

#bgslider figure img {
            
            float: left;
            
}

.dropdown-menu show {
    position: relative !important;
    z-index: 99999 !important;
}
/*div {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: animateSectionBackground infinite 240s;
}*/
#mydiv {
    animation: animateSectionBackground 40s infinite;
    width: 1000px;
    height: 700px;
    background-size: cover;
}

@keyframes animateSectionBackground {
    00% {
        background-image: url(/img1.jpg);
    }

    20% {
        background-image: url(/img2.jpg);
    }

    40% {
        background-image: url(/img3.jpg);
    }

    60% {
        background-image: url(/img4.jpg);
    }

    80% {
        background-image: url(/img5.jpg);
    }
}

